/*Remove inline*/
/*Gotes to*/
select{
     width:150px;
}

/*Combine multiples*/
#buttons-wrapper{
     padding:10px;
     border:1px solid black;
     background:orange;
}
#buttons-wrapper>form{
     padding:10px;
     border:1px solid black;
}
/*Goes to*/
#buttons-wrapper>form, #buttons-wrapper{
     padding:10px;
     border:1px solid black;
}
#buttons-wrapper-orange {
     background: orange;
}

/*Rename classes/ids for readability*/
#img1{
     margin-top: 50px;
}
/*Goes to*/
#bannerImage{
     margin-top: 50px;
}

/*Organize CSS*/

/*Global Styles*/
a{
     color:red;
}
a:hover{
     color:purple;
}
body{
     background-image:url(../images/anImage.png);
}
/*Header Styles*/
header>ol{
     list-style: none;
}
header{
     height:80px;
}
#navigation-wrapper{
     float:left;
}
.list-item{
     width:200px;
}

/*Layout Styles*/

#container>.col{
     width:50%;
}
#container>img{
     border:1px solid red;
}

/*Footer Styles*/
footer{
     text-align: right;
}
footer>#company-name{
     font-weight: bold;
}


/*Goes to*/



/*Create classes for large css changes
$("#container").css({background:"red",fontSize:"12px",color:"purple",boxShadow:"0 0 10px #ccc";})
*/

/*Goes to*/