html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: helvetica, Arial, sans-serif;
	font-size: 22px;
	color: #333;
}

em {
	font-style: italic;
	color: #5a5a5a;
}

blockquote {
	font-style: italic;
	border-left: solid 5px #5a5a5a; padding-left: 15px;
}

blockquote em {
	font-style: normal;
}